.card-big {
  &__inner {
    display: flex;
    width: 100%;
    background-color: $sup-color-8;
    box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);
  }

  &__link-product {
    flex: 0 0 47%;
    min-height: 450px;
  }

  &__wrap {
    padding: 50px 62px 33px 52px;
  }

  &__title {
    margin-bottom: 25px;
    color: $sup-color-1;
    font-size: 24px;
    font-weight: 500;
  }

  &__box {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
  }

  &__link-person,
  &__link-CMS {
    display: flex;
    align-items: center;
  }

  &__avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 9px;
    border-radius: 50%;
  }

  &__link-CMS {
    margin-left: 21px;

    &-icon { 
      margin-right: 9px;
    }
  }

  &__text {
    margin-bottom: 40px;
  }

  &__tags {
    margin-bottom: 44px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }

  &__footer-box {
    
  }

  &__price {
    padding: 9px 19px;
    color: $sup-color-8;
    font-size: 15px;
    font-weight: 500;
    background-color: $decor-color;
    border-radius: 16px;
  }

  &__rating-starts {
  }
}