html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}



a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

form {
  background-color: none;
  font: inherit;
}

ul {
  padding-inline-start: 0;
  margin: 0;
}

ul li {
  list-style: none;
  font-family: inherit;
}

input {
  border: none;
}

select {
  border: none;
  appearance: none;
}

body {
  font-family: $main-font;
  font-weight: 400;
  font-size: $main-font-size;
  color: $main-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}


// logo start
.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 700;

  &__img {}

  &__start-line {
    margin-left: 6px;
    color: $sup-color-1;

    &_footer {
      color: $sup-color-8;
    }
  }

  &__end-line {
    color: $decor-color;
  }
}

// logo end


// btn start
.btn {
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;

  &_figure_rectangle {
    padding: 15px 68px;
    border-radius: 4px;
    border: 2px solid transparent;
    background-color: $decor-color;
    color: $sup-color-8;
    transition: all .3s;

    &:hover {
      border: 2px solid $sup-color-7;
    }
  }

  &_figure_elipse {
    padding: 15px 31px;
    color: $decor-color;
    border: 1px solid $sup-color-8;
    border-radius: 28px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: all .3s;

    &:hover {
      padding: 15px 40px;
    }
  }

  &_bg_b {
    background-color: $decor-color;
  }

  &_bg_w {
    background-color: $sup-color-8;
  }

  &_color_w {
    color: $sup-color-8;
  }

}

// btn end

// text start
.text {
  line-height: 30px;
}
// text end

// inline-bg-style start
.inline-bg-style {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
// inline-bg-style end

// tags start
.tags {
  display: flex;

  &__item {
    padding: 7px 14px;
    background-color: $sup-color-6;
    color: $sup-color-7;
    font-size: 15px;
    border-radius: 14px;
    transition: .3s;

    &:hover {
      background-color: $decor-color;
      color: $sup-color-8;
    }
  }

  li+li {
    margin-left: 7px;
  }
}

// tags end

// slick start
.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}
// slick end

// breadcrumb start
.breadcrumb {
  padding: 58px 0 54px;
  background-image: linear-gradient(to left, #0d3ef2 0%, #4c1f9c 100%);

  &__list {
    display: flex;
    color: $sup-color-8;
    font-size: 15px;

    li+li {
      margin-left: 5px;
    }

    li+li::before {
      content: "/";
      padding-right: 5px;
    }
  }

  &__active {
    color: #bfcad7;
  }

  &__title {
    margin-top: 25px;
    color: $sup-color-8;
    font-size: 30px;
    font-weight: 500;
  }

  &__search-form {
    max-width: 555px;
    
    .magnifier-form {
      border: none;
    }
  }
}
// breadcrumb end



// banner start
.banner {
  padding: 110px 0;
  background-image: linear-gradient(to left, #0d3ef2 0%, #7221a0 100%);
  text-align: center;

  &__title {
    margin-bottom: 23px;
    color: $sup-color-8;
    font-size: 36px;
  }

  &__text {
    margin-bottom: 50px;
    color: #e7e7e7;
    font-size: 18px;
  }

  &__btn {
    background-color: $sup-color-8;
    color: $decor-color;

    &:hover {
      border: 1px solid $sup-color-7;
    }
  }
}
// banner end




// form start
.form {
  max-width: 555px;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: $sup-color-8;
  margin: 0 auto;

  &__top {
    padding: 60px 65px 30px;
    border-bottom: 1px solid #e8ebf0;
    text-align: center;

    &-title {
      color: $sup-color-1;
      font-size: 26px;
      margin-bottom: 18px;
    }
  }

  &__bottom {
    padding: 30px 50px 60px;

    &-label {
      display: block;
      margin-bottom: 15px;
      color: $sup-color-1;
      font-weight: 500;
    }

    &-input {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      padding: 18px 20px;
      color: $sup-color-13;
      background-color: #f4f5f8;
    }

    &-checkbox {
      margin-bottom: 15px;
    }

    &-btn {
      margin-bottom: 40px;
    }

    &-inner {
      display: flex;
      justify-content: space-between;
    }

    &-question {
      color: #898f96;

      &-link {
        color: $decor-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-comment {
      padding: 18px 20px;
    }
  }
}
// form end




// search-form start
.magnifier-form {
  position: relative;
  max-width: 100%;
  width: 100%;
  border: 1px solid #d9dfe5;
  border-radius: 23px;

  &__input {
    width: 100%;
    padding: 15px 130px 15px 20px;
    border-radius: 23px;
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 27px;
    height: 100%;
    background-color: $decor-color;
    border-radius: 23px;
    color: $sup-color-8;
    transition: all .3s;

    &:hover {
      color: $sup-color-1;
    }
  }
}
// search-form end


// pagination start
.pagination {
  display: flex;
  justify-content: center;

  &__link {
    padding: 12px 23px;
    border-radius: 19px;
    background-color: $sup-color-8;
    transition: all .3s;

    &:hover {
      background-color: $decor-color;
    }

    &-arrow {
      padding: 13px 17px;
      margin: 0 20px;
      font-family: 'Linearicons-Free';

      &_prev {
        &::before {
          content: "\e879";
        }
      }

      &_next {
        &::before {
          content: "\e87a";
        }
      }

      &:hover {
        background-color: $sup-color-3;
      }
    }
  }

  &__list {
    display: flex;

    li + li {
      margin-left: 5px;
    }
  }
}
// pagination end



// filter-bar start
.filter-bar {
  display: flex;
  align-items: center;
  min-height: 100px;
  color: #747b86;
  font-size: 14px;
  font-weight: 400;

  &__favorites {
    color: $sup-color-1;
    font-size: 24px;

    &-num {
      font-weight: 500;
    }
  }

  &__chevron {
    position: relative;

    &::after {
      content: "\e874";
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      font-family: 'Linearicons-Free';
      font-size: 10px;
    }

    &.filter-bar__chevron_active::after {
      content: "\e873";
    }
  }

  &__filter {
    font-size: 18px;

    &-list {
      height: 100%;
      padding: 42px 30px;
      border-right: 1px solid #eceff2;
      border-left: 1px solid #eceff2;
    }

    &-item {
      padding-right: 10px;
    }
  }

  &__list {
    padding: 15px 85px 15px 20px;
    border: 1px solid #eceff2;
  }

  &__price,
  &__items {
    &::after {
      right: 20px;
    }

  }

  &__btn-list {
    padding: 11px 21px;
    border: 1px solid #eceff2;
  }

  &__btn {
    svg {
      fill: #747b86;
    }

    &.filter-bar__btn_active {
      svg {
        fill: $decor-color;
      }
    }
  }

}
// filter-bar end