@media(max-width:767px) {
    .header {
        height: 50px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger:before,
    .header__burger:after,
    span {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        background-color: #fff;
        transition: transform .3s;
    }
    .header__burger span {
        top: 9px;
        &.active {
            display: none;
        }
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger.active:before {
        transform: rotate(-45deg);
        top: 10px;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active:after {
        transform: rotate(45deg);
        bottom: 8px;
    }
    .header__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: black;
        margin-top: 50px;
        transition: .3s;
        &.active {
            right: 0;
        }
    }
    .header__list {
        flex-direction: column;
        align-items: flex-end;
    }
    .header__burger.active span {
        display: none;
    }
    
}