$decor-color: #0674ec;
$sup-color-1: #000000; 
$sup-color-2: #f3f3f8;
$sup-color-3: #7347c1;
$sup-color-4: #333333;
$sup-color-5: #eef1f3;
$main-color: #555555;
$main-font: 'Quicksand', sans-serif;
$main-font-size: 16px;
