@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

@import "vars.scss";
@import "fonts.scss";
@import "globalStyle.scss";
@import "../modules/header/header.scss";
@import "../modules/card/card.scss";
@import "../modules/card/card-big/card-big.scss";
@import "../modules/card/card-small/card-small.scss";
@import "../modules/card-slider/card-slider.scss";
@import "../modules/title/title.scss";
@import "../modules/reviews/reviews.scss";
@import "../modules/news-item/news-item.scss";
@import "../modules/footer/footer.scss";


/////////////////////////////////////////////
////////////// index.html //////////////////
////////////////////////////////////////////

// search start
.search {
  position: relative;
  padding: 185px 0 235px;
  background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
  color: $sup-color-2;
  text-align: center;

  &__title {
    margin-bottom: 38px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;

    &-down {
      font-weight: 700;
    }
  }

  &__subtitle {
    margin-bottom: 68px;
    font-weight: 500;
    font-size: 20px;
  }

  &__btn {
    margin: 0 15px;

    &:hover {
      background-color: $sup-color-2;
      color: $decor-color;
    }
  }

  &-form {
    position: absolute;
    bottom: -60px;
    display: flex;
    max-width: 1140px;
    width: 100%;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background-color: #ffffff;

    &__box {
      display: flex;
      align-items: center;
      max-width: 807px;
      margin-right: 30px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid #dcdcdc;
    }

    &__input-text {
      width: 80%;
      height: 100%;
      padding: 0 30px;
      border-right: 1px solid #dcdcdc;
    }

    &__select-box {
      position: relative;
      width: 20%;
      height: 100%;

      &::after {
        content: "\e874";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 21px;
        font-size: 12px;
        color: #676767;
        font-family: 'Linearicons-Free';
      }
    }

    &__select-list {
      width: 100%;
      height: 100%;
      padding-left: 20px;
      color: $main-color;
      cursor: pointer;
    }

    &__input-submit {
      white-space: nowrap;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      border-radius: 6px;
      background-color: #ffffff;
      opacity: 0.5;
      z-index: -1;
    }

    &::before {
      top: -10px;
      max-width: 1110px;
      width: 100%;
      height: 100%;
    }

    &::after {
      top: -20px;
      left: 50%;
      max-width: 1080px;
      width: 100%;
    }

  }
}

// search end



// features start
.features {
  padding: 186px 0 120px;
  text-align: center;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 -14px;
  }

  &__item {
    margin: 0 14px;
    padding: 41px 35px 49px;
    transition: all .3s;

    &-img {
      margin-bottom: 35px;
    }

    &-title {
      margin-bottom: 29px;
      color: $sup-color-1;
      font-size: 24px;
    }

    &-text {
      max-width: 300px;
      line-height: 30px;
    }

    &:hover {
      box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
    }
  }
}

// features end



// products start
.products {
  background-color: #f6f7fb;
  padding: 120px 0;

  &__title {
    padding: 44px 30px;
    margin-bottom: 50px;
    background-color: $sup-color-8;
    color: $sup-color-1;
    font-size: 30px;
  }

  &__tags {
    margin-bottom: 50px;
    padding: 30px;
    background-color: $sup-color-8;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__box {
    text-align: center;
  }

  &__btn {
    background-color: $decor-color;

    &:hover {
      border: 1px solid $sup-color-7;
    }
  }
}

// products end



// fact start
.fact {
  padding: 150px 0 80px;
  background-color: $sup-color-11;
  text-align: center;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    font-size: 36px;

    &-icon {
      margin-bottom: 20px;

      &::before {
        position: absolute;
        top: -46px;
        left: 50%;
        transform: translate(-50%, -23px);
        font-family: 'Linearicons-Free';
      }
    }

    &-briefcase {
      color: #feb71d;

      &::before {
        content: "\e84c";
      }
    }

    &-cloud {
      color: #58c9e9;

      &::before {
        content: "\e80b";
      }
    }

    &-smile {
      color: #77de51;

      &::before {
        content: "\e854";
      }
    }

    &-users {
      color: #ff6a6d;

      &::before {
        content: "\e82b";
      }
    }

    &-text {
      color: $sup-color-8;
      font-size: 18px;
    }
  }
}

// fact end



// choose start
.choose {
  padding: 120px 0;
  text-align: center;

  &__title {
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__item {
    position: relative;
    flex: 0 1 calc(33.333% - 30px);
    margin: 0 15px 30px;
    padding: 56px 30px 59px;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: $sup-color-8;

    &-num {
      position: absolute;
      top: 20px;
      left: 20px;
      opacity: 0.2;
      color: $sup-color-12;
      font-size: 48px;
      font-weight: 300;
    }

    &-icon {
      margin-bottom: 53px;
      font-size: 60px;

      &::before {
        content: "\e82b";
        font-family: 'Linearicons-Free';
      }

      &_license {
        color: #0674ec;

        &::before {
          content: "\e822";
        }
      }

      &_magic {
        color: #7f4ec2;

        &::before {
          content: "\e803";
        }
      }

      &_lock {
        color: #77de51;

        &::before {
          content: "\e80f";
        }
      }

      &_chart {
        color: #feb71d;

        &::before {
          content: "\e843";
        }
      }

      &_leaf {
        color: #58c9e9;

        &::before {
          content: "\e849";
        }
      }

      &_phone {
        color: #ff6a6d;

        &::before {
          content: "\e831";
        }
      }
    }

    &-title {
      margin-bottom: 30px;
      color: $sup-color-1;
      font-size: 24px;
    }
  }
}

// choose end



// shopping start
.shopping {
  &__inner {
    display: flex;
  }

  &__item {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
    align-items: center;
    text-align: center;
    color: $sup-color-8;

    &-icon {
      margin-bottom: 50px;
    }

    &-title {
      margin-bottom: 30px;
      font-size: 36px;
    }

    &-text {
      max-width: 576px;
      margin: 0 auto 50px;
    }

    &-btn {
      background-color: $sup-color-8;
      border: 2px solid transparent;

      &_sell {
        color: $decor-color;

        &:hover {
          border: 2px solid $decor-color;
        }
      }

      &_buy {
        color: $sup-color-3;

        &:hover {
          border: 2px solid $sup-color-3;
        }
      }
    }
  }
}

// shopping end





// feedback start 
.feedback {
  padding: 120px 0;

  &__title {
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__item+&__item {
    margin-left: 30px;
  }

  &__box {
    text-align: center;
  }

  &__btn {
    color: $sup-color-8;
    background-color: $decor-color;

    &:hover {
      border: 1px solid $sup-color-7;
    }
  }
}

// feedback end





// news start 
.news {
  padding: 120px 0;
  background-color: $sup-color-10;

  &__title {
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

// news end





// support start
.support {
  position: relative;
  padding: 62px 0;
  text-align: center;

  &__inner {
    display: flex;
    justify-content: center;
    margin: 0 -130px;
  }

  &__item {
    margin: 0 130px;
  }

  &__icon {
    margin-bottom: 31px;
  }

  &__text {
    color: $sup-color-1;
    font-size: 24px;

    &-back {
      color: $decor-color;
    }

    &-support {
      color: $sup-color-12;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #e8eaf3;
  }
}
// support end



/////////////////////////////////////////////
////////////// recover.html //////////////////
////////////////////////////////////////////

// recover start
.recover {
  &__box {
    padding: 70px 0 120px;
    background-color: $sup-color-10;
  }

  &__btn {
    margin-bottom: 0;
  }
}

// recover end



/////////////////////////////////////////////
////////////// Error.html //////////////////
////////////////////////////////////////////

// error start
.error {
  &__box {
    padding: 83px 0 100px;
    text-align: center;
  }

  &__img {
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 40px;
  }
}

// error end



/////////////////////////////////////////////
////////////// login.html //////////////////
////////////////////////////////////////////

// login start
.login {
  &__box {
    padding: 70px 120px;
    background-color: $sup-color-10;
  }
}

// login end



/////////////////////////////////////////////
////////////// terms.html //////////////////
////////////////////////////////////////////

// terms start
.terms {
  &__inner {
    padding: 60px 0 120px;
    background-color: $sup-color-10;  
  }

  &__item {
    background-color: $sup-color-8;

    &-title {
      color: $sup-color-1;
      font-size: 24px;
      padding: 30px 30px 30px;
      border-bottom: 1px solid  #e8ebf0;
    }

    &-text {
      padding: 30px 40px  20px 30px;
    }
  }
}
// terms end



/////////////////////////////////////////////
////////////// works.html //////////////////
////////////////////////////////////////////

// works start
.works {
  &__item {
    padding: 100px 0;
    &-img {

    }

    &-main {
      max-width: 450px;
    }

    &-title {
      margin-bottom: 25px;
      color: $sup-color-1;
      font-size: 30px;
    }

    &-text {
      margin-bottom: 30px;
    }

    &-btn {
      &:hover {
        color: $sup-color-8;
        background-color: $decor-color;
      }
    }

    &_bg_g {
      background-color: $sup-color-5;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  .breadcrumb {
    padding: 90px 0 30px;
    text-align: center;

    &__title {
      max-width: 400px;
      margin: 0 auto 75px;
      line-height: 50px;

      &-light {
        font-weight: 300;
      }
    }

    &__list {
      justify-content: center;
    }
  }
}
// works end



/////////////////////////////////////////////
////////////// register.html ///////////////
////////////////////////////////////////////

// register start
.register {
  &__box {
    padding: 70px 0 120px;
    background-color: $sup-color-5;
  }
}
// register end



/////////////////////////////////////////////
////////////// contacts.html ///////////////
////////////////////////////////////////////

// contacts start
.contacts {
  padding: 120px 0;

  &__title {
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 50px;
  }

  &__item {
    flex: 0 1 33.333%;
    margin: 0 15px;
    padding: 55px 0 51px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: $sup-color-8;
    text-align: center;

    &-icon {
      margin-bottom: 53px;
      &::before {
        margin-bottom: 48px;
        font-family: 'Linearicons-Free';
        color: $decor-color;
        font-size: 48px;
      }

      &_marker {
        &::before {
          content: "\e833";
        }
      }

      &_phone {
        &::before {
          content: "\e831";
        }
      }

      &_email {
        &::before {
          content: "\e81a";
        }
      }
    }

    &-title {
      margin-bottom: 40px;
    }

    &-link {
      line-height: 26px;
      
    }
  }

  &-form {
    max-width: 100%;
    text-align: center;
    padding-bottom: 60px;

    &__bottom {
      padding: 50px 195px 30px;

      &-inner {
        flex-wrap: wrap;
        margin: 0 -15px;
      }
  
      &-input {
        flex: 0 1 calc(50% - 30px);
        margin: 30 15px;
        background-color: $sup-color-8;
        border: 1px solid #e7e7e7;
      }

      &-comment {
        max-width: 100%;
        width: 100%;
        height: 130px;
        border: 1px solid #e7e7e7;
      }
    }
  }
}

.breadcrumb-contacts {

  &__title {
    text-align: center;
    line-height: 60px;

    &_light {
      font-weight: 300;
    }
  }
}
// contacts end



/////////////////////////////////////////////
////////////// category.html ///////////////
////////////////////////////////////////////

// category start
.category {
  &-breadcrumb {
    padding: 87px 0 30px;
    text-align: center;

    &__title {
      margin-bottom: 32px;
    }

    &__list {
      justify-content: center;
    }

    &__search-form {
      margin: 0 auto 37px;
    }
  }
}
// category end



/////////////////////////////////////////////
////////////// favorites.html ///////////////
////////////////////////////////////////////
.favorites {
  .filter-bar {
    display: flex;
    justify-content: space-between;


  }

  &__main {
    padding: 80px 0 120px;
    background-color: $sup-color-10;

    &-inner {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
    }

    &-item {
      flex: 0 1 calc(33.333% - 30px);
      margin: 0 15px 30px;
    }
  }
}



/////////////////////////////////////////////
////////////// pricing.html ////////////////
////////////////////////////////////////////

// pricing start
.pricing {
  padding: 120px 0;
  background-color: $sup-color-10;

  &__title {
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
  }

  &__item {
    flex: 0 1 calc(33.333% - 30px);
    margin: 0 15px;
    padding: 30px;
    background-color: $sup-color-8;

    &-title {
      padding: 30px;
      margin-bottom: 30px;
      color: $sup-color-1;
      font-size: 24px;
      font-weight: 500;
      border-bottom: 1px solid #e8ebf0;;
      text-align: center;
    }
    
    &-price {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: auto;
      margin: 0 auto;
      position: relative;
      margin-bottom: 50px;
      text-align: center;

      span {
        color: $sup-color-1;
      }
      
      span:first-child {
        position: relative;
        top: 5px;
        align-self: flex-start;
        font-size: 18px;
        font-weight: 500;
      }

      span:last-child {
        font-size: 36px;
      }
    }

    &-list {
      margin-bottom: 40px;
      li {
        position: relative;
        display: inline-block;
        padding-left: 23px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          width: 7px;
          height: 7px;
          background-color: #c5cad4;
          border-radius: 50%;
        }
      }

      li + li {
        margin-top: 20px;
      }
    }

    &-question {
      &::after {
        content: "\e87d";
        position: absolute;
        right: -30px;
        font-size: 18px;
        font-family: 'Linearicons-Free';
      }
    }

    &-btn {
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 15px 0;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      font-size: 18px;
      color: $sup-color-8;
      font-weight: 500;
      border: 2px solid transparent;
      transition: all .3s;

      &:hover {
        border: 2px solid $sup-color-1;
      }
      
      &_bg {
        &_r {
          background-color: #ff6a6c;
        }

        &_b {
          background-color: $decor-color;
        }

        &_y {
          background-color: #feb71d;
        }
      }
    }

    &_line {
      border-top: 3px solid transparent;

      &_r {
        border-color: #ff6a6c;
      }

      &_b {
        border-color: $decor-color;
      }

      &_y {
        border-color: #feb71d;
      }
    }
  }
}
// pricing end



/////////////////////////////////////////////
////////////// single.html /////////////////
////////////////////////////////////////////

// single start
.single {
  padding: 70px 120px;
  background-color: $sup-color-10;

  &__content {
    max-width: 750px;
    width: 100%;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;

    &-item {
      margin: 0 15px;
    }
  }

  &__aside {
    max-width: 360px;
    width: 100%;

    &-item {
      width: 100%;
      margin-bottom: 30px;
      padding: 40px 30px;
      box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
      border-radius: 4px;
      background-color: $sup-color-8;
    }
  }
}

.single-buy {
  padding: 0;

  &__price {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    color: $sup-color-8;
    font-size: 36px;
    font-weight: 500;
    background-color: $decor-color;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    span {
      font-size: 18px;
      align-self: flex-start;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
  }

  &__list {
    li {
      margin-bottom: 30px;
    }

    li + li {
      padding-top: 30px;
      border-top: 1px solid #ececec;
    }
  }

  &__description {
    margin-top: 10px;

    &.hide {
      display: none;
    }
  }

  &__radio {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
  }

  &__btn + &__btn {
    margin-top: 30px;
  }

  &__btn:hover {
    color: $sup-color-1;
  }
}

.single-rating {
  padding-top: 0;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #ececec;

    &-icon {
      &.lnr-cart {
        color: $decor-color;
      }

      &.lnr-heart {
        color: #7f4ec2;
      }

      &.lnr-bubble {
        color: #58c9e9;
      }
    }

    &-text {
      margin: 0 auto 0 10px;
    }

    &-num {
      color: #333333;
      font-size: 18px;
      font-weight: 500;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  &__star {
    margin-right: 10px;
  }
}

.single-info {
  margin-bottom: 30px;

  &__title {
    padding-bottom: 21px;
    margin-bottom: 20px;
    color: $sup-color-1;
    font-size: 20px;
    border-bottom: 1px solid #ececec;
    text-align: center;
  }

  &__table {
    width: 100%;

    tr + tr {
      margin-top: 20px;
    }

    td {
      vertical-align: top;
      padding-top: 20px;
      width: 50%;
    }

    &-link {
      color: $decor-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__list {
    li {
      display: flex;
      justify-content: space-between;
    }
  }
}

.single-author {
  text-align: center;

  &__title {
    padding-bottom: 21px;
    margin-bottom: 20px;
    color: $sup-color-1;
    font-size: 20px;
    border-bottom: 1px solid #ececec;
  }

  &__avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #d3d3d3;
    border-radius: 50%;
    margin-bottom: 24px;
  }

  &__name {
    margin-bottom: 20px;
    color: $sup-color-1;
    font-size: 18px;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  &__date {
    margin-bottom: 30px;
    color: #7e7e7e;
    font-size: 15px;
  }
  
  .social-networks {
    justify-content: center;
    margin-bottom: 30px;
  }

  &__list-btn {
    display: flex;
    justify-content: center;
    margin: 0 -10px;

    li {
      margin: 0 10px;
    }
  }

  &__btn {
    font-size: 15px;
    white-space: nowrap;

    &:hover {
      color: $sup-color-1;
    }
  }
}
// single end

// details start
.details {
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: $sup-color-8;

  &__img {
    width: 100%;
    min-height: 400px;
  }

  &__list-btn {
    display: flex;
    justify-content: center;
    margin: 30px 0;

    li + li {
      margin-left: 30px;
    }
  }

  &__btn {
    &:hover {
      background-color: $decor-color;
      color: $sup-color-8;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    padding: 30px 30px 40px;
    border-top: 1px solid #e8e8e8;

    &-item + &-item {
      margin-left: 20px;
    }
  }
}
// details end

// more-items start
.more-items {
  padding: 120px 0;
  background-color: #f6f7fb;
  
  &__title {
    margin-bottom: 50px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__item {
    flex: 0 1 calc(33.333% - 30px);
    margin: 0 15px;
  }
}
// more-items end