.footer {
  flex: 0 0 auto;

  &__top {
    padding: 115px 0 126px;
    background-color: #262b30;
    color: #ababab;
  }

  &__copywrite{
    padding: 40px 0;
    text-align: center;
    background-color: #192027;

    &-link {
      color: $sup-color-8;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer-top {
  &__logo {
    margin-bottom: 31px;
  }
  
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {

    &:nth-child(1) {
      flex-basis: 300px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      flex-basis: 130px;
    }

    &:nth-child(4) {
      flex-basis: 360px;
    }

    &-title {
      margin-bottom: 35px;
      padding: 19px 0 4px;
      color: $sup-color-8;
      font-size: 18px;
      letter-spacing: 0.9px;
    }

    &-text {
      margin-bottom: 33px;
    }

    &-icon {
      position: relative;
      padding-left: 30px;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: $sup-color-8;
        font-family: 'Linearicons-Free';
      }

      &_phone {
        &::before {
          content: "\e830";
        }
      }

      &_mail {
        &::before {
          content: "\e818";
        }
      }

      &_address {
        &::before {
          content: "\e833";
        }
      }
    }

    &-list {
      white-space: nowrap;
      li + li {
        margin-top: 18px;
      }
    }

    &-link {
      transition: all .3s;
      &:hover {
        color: $sup-color-8;
        text-decoration: underline;
      }
    }

    &-search {
      position: relative;
      max-width: 360px;
      margin-bottom: 48px;
      .magnifier-form {
        border: none;
      }
    }
  }
}
